<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

  <display-name>Archetype Created Web Application</display-name>

  <!--添加 dispatcherServlet-->
  <!--<servlet>
    <servlet-name>dispatcherServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>dispatcherServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
-->
  <!--自定义添加 dispatcherServlet-->
  <servlet>
    <servlet-name>mjmvc</servlet-name>
    <!--自定义使用自己的servlet-->
    <servlet-class>com.magi.mvcframework.MjDispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <!--<param-value>applicationContext.xml</param-value>-->
      <!--Spring建立在IoC容器核心功能之上的其他重要功能有：AOP(面向切面编程)，事务管理，springMVC，ORM等，这些功能都在Spring的核心配置文档applicationContext.xml中得以体现。-->
      <param-value>classpath*:application.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>mjmvc</servlet-name>
    <!--用一个 servlet 拦截所有的请求-->
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>
